yarn.lock
node_modules
.next

# - yarn/berry/npm.
.yarn/*
.yarnrc
.yarnrc.yml
.yarn-integrity
.yarn-error.log
package.json
package-lock.json

# - misc.
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

# - vercel.
.vercel
.vercelignore
now.json

# - sass. minified.
_scss/*.prod.scss

# - contentlayer.
.contentlayer