# - production.
.next
out
node_modules

# - yarn/berry/npm.
.yarn/*
.yarnrc
.yarnrc.yml
.yarn-integrity
.yarn-error.log
yarn.lock
package.json
package-lock.json

# - misc.
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

# - vercel.
.vercel
.vercelignore
now.json

# - sass. minified.
src/app/_scss/*.min.scss

# - contentlayer.
.contentlayer