@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk-Regular.woff2');
	src: local('Space Grotesk Regular'), local('SpaceGrotesk-Regular'),
	url('/fonts/SpaceGrotesk-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk-Medium.woff2');
	src: local('Space Grotesk Medium'), local('SpaceGrotesk-Medium'),
	url('/fonts/SpaceGrotesk-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk-Bold.woff2');
	src: local('Space Grotesk Bold'), local('SpaceGrotesk-Bold'),
	url('/fonts/SpaceGrotesk-Bold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
