@font-face {
  font-family: 'Helmet Neue';
  src: url('HelmetNeue-Regular.eot');
  src: local('Helmet Neue Regular'), local('HelmetNeue-Regular'),
    url('HelmetNeue-Regular.eot?#iefix') format('embedded-opentype'),
    url('HelmetNeue-Regular.woff2') format('woff2'), url('HelmetNeue-Regular.woff') format('woff'),
    url('HelmetNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
