$bg-gray-100: hsl(0, 0%, 99%);
$bg-dark: rgba(23, 23, 23, 1);
$bg-light: rgba(244, 244, 245, 1);
$bg-header: rgba(253, 253, 252, 0.2);
$bg-header-dark: rgba(23, 23, 23, 0.2);
$color-bar: rgba(103, 119, 201, 1);
$dark-color-bar: rgba(235, 254, 188, 1);

/* semantix
------------- */
$stone-100: rgba(248, 248, 248, 1);
$stone-200: rgba(231, 229, 228, 1);
$stone-900: rgba(28, 25, 23, 1);
$dove-gray: rgba(115, 115, 115, 1);
$outer-space: rgba(38, 50, 56, 1);
$river-bed: rgba(75, 85, 99, 1);
$alto: rgba(212, 212, 212, 1);
$concrete: rgba(242, 242, 242, 1);
$honeysuckle: rgba(226, 255, 115, 1);
$heliotrope: rgba(150, 128, 255, 1);

/**
  * @_scss/_color.scss
  * top-level color variables.
  */
