:root {
  --app-green: rgba(52, 199, 89, 1);
  --app-gray: rgba(116, 116, 132, 1);
  --app-blue: rgba(1, 141, 255, 1);
  --app-pink: rgba(249, 102, 172, 1);

  --blue: rgba(55, 132, 244, 1);
  --green: rgba(68, 198, 127, 1);
  --yellow: rgba(255, 190, 76, 1);
  --gold: rgba(202, 146, 48, 1);
  --orange: rgba(255, 83, 16, 1);
  --orange-dark: rgba(255, 43, 0, 1);
  --red: rgba(239, 68, 68, 1);

  --graphic-green: rgba(68, 198, 127, 1);
  --graphic-blue: rgba(125, 196, 255, 1);
  --graphic-yellow: rgba(255, 207, 123, 1);
  --graphic-gray: rgba(226, 214, 197, 1);
  --graphic-orange: rgba(255, 83, 16, 1);
  --graphic-outline: rgba(178, 167, 154, 1);

  --topbar: rgba(158, 135, 197, 1);
}
