/**
 * 
 * Archivo V
 * @format
 */

@font-face {
  font-family: Archivo V;
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/archivo/Archivo-Variable.ttf') format('truetype');
}

@font-face {
  font-family: Archivo V;
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/archivo/Archivo-Italic.ttf') format('truetype');
}

/**
 * 
 * Archivo V
 * @format
 */
@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/mona/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/mona/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

/**
 * 
 * Inter V
 * @format
 */

@font-face {
  font-family: Inter V;
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/inter/Inter-roman.var.woff2?v=3.15') format('woff2');
}

@font-face {
  font-family: Inter V;
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/inter/Inter-italic.var.woff2?v=3.15') format('woff2');
}

/**
 * 
 * Fraktion V
 * @format
 */

@font-face {
  font-family: Fraktion Sans V;
  font-weight: 200 800;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/fraktion/sans/PPFraktionSans-Variable.ttf') format('truetype');
}

@font-face {
  font-family: Fraktion Mono;
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/fraktion/mono/') format('woff2');
}

/**
  * 
  * Atkinson Hyperlegible
  * @format
  */

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/atkinson/Atkinson-Hyperlegible-Regular-102a.woff2');
  src: local('Atkinson-Hyperlegible-Regular'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-Regular-102a.eot?#iefix') format('embedded-opentype'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-Regular-102a.woff') format('woff');
  font-weight: normal;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Italic';
  src: url('/fonts/atkinson/Atkinson-Hyperlegible-Italic-102a.woff2');
  src: local('Atkinson-Hyperlegible-Italic'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-Italic-102a.eot?#iefix') format('embedded-opentype'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-Italic-102a.woff') format('woff');
  font-weight: normal;
  font-display: block;
  font-style: italic;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/atkinson/Atkinson-Hyperlegible-Bold-102a.woff2');
  src: local('Atkinson-Hyperlegible-Bold'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-Bold-102a.eot?#iefix') format('embedded-opentype'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-Bold-102a.woff') format('woff');
  font-weight: bold;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/atkinson/Atkinson-Hyperlegible-BoldItalic-102a.woff2');
  src: local('Atkinson-Hyperlegible-BoldItalic'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-BoldItalic-102a.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-BoldItalic-102a.woff') format('woff');
  font-weight: bold;
  font-display: block;
  font-style: italic;
}
