// $font-prefix: '/fonts/';

/**
 * 
 * Archivo V
 * @format
 */

@font-face {
  font-family: Archivo V;
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/archivo/Archivo-Variable.ttf') format('truetype');
}

@font-face {
  font-family: Archivo V;
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/archivo/Archivo-Italic.ttf') format('truetype');
}

/**
 * 
 * Archivo V
 * @format
 */
@font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/mona/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/mona/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

/**
 * 
 * Inter V
 * @format
 */

@font-face {
  font-family: Inter V;
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/inter/Inter-roman.var.woff2?v=3.15') format('woff2');
}

@font-face {
  font-family: Inter V;
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/inter/Inter-italic.var.woff2?v=3.15') format('woff2');
}

/**
 * 
 * Helmet Neue
 * @format
 */
@font-face {
  font-family: 'Helmet Neue';
  src: url('/fonts/helm/HelmetNeue-Regular.eot');
  src: local('Helmet Neue Regular'), local('HelmetNeue-Regular'),
    url('/fonts/helm/HelmetNeue-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/helm/HelmetNeue-Regular.woff2') format('woff2'),
    url('/fonts/helm/HelmetNeue-Regular.woff') format('woff'),
    url('/fonts/helm/HelmetNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/**
 * 
 * Fraktion V
 * @format
 */

@font-face {
  font-family: Fraktion Sans V;
  font-weight: 200 800;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/fraktion/sans/PPFraktionSans-Variable.ttf') format('truetype');
}

@font-face {
  font-family: Fraktion Mono;
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/fraktion/mono/') format('woff2');
}
