$prefix: '/fonts/' !default;
  /**
  *
  * Favorit Font
  */

@font-face {
  font-family: 'ABC Favorit';
  font-style: normal;
  font-weight: 300;
  src: local('ABCFavorit-Light'), local('ABCFavorit-Light'),
    url('#{$prefix}favorit/ABCFavorit-Light.woff2') format('woff2'),
    url('#{$prefix}favorit/ABCFavorit-Light.woff') format('woff');
}

@font-face {
  font-family: 'ABC Favorit';
  font-style: italic;
  font-weight: 300;
  src: local('ABCFavorit-LightItalic'), local('ABCFavorit-LightItalic'),
    url('#{$prefix}favorit/ABCFavorit-LightItalic.woff2') format('woff2'),
    url('#{$prefix}favorit/ABCFavorit-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'ABC Favorit';
  font-style: normal;
  font-weight: 350;
  src: local('ABCFavorit-Book'), local('ABCFavorit-Book'),
    url('#{$prefix}favorit/ABCFavorit-Book.woff2') format('woff2'),
    url('#{$prefix}favorit/ABCFavorit-Book.woff') format('woff');
}

@font-face {
  font-family: 'ABC Favorit';
  font-style: italic;
  font-weight: 350;
  src: local('ABCFavorit-BookItalic'), local('ABCFavorit-BookItalic'),
    url('#{$prefix}favorit/ABCFavorit-BookItalic.woff2') format('woff2'),
    url('#{$prefix}favorit/ABCFavorit-BookItalic.woff') format('woff');
}

@font-face {
  font-family: 'ABC Favorit';
  font-style: normal;
  font-weight: normal;
  src: local('ABCFavorit-Regular'), local('ABCFavorit-Regular'),
    url('#{$prefix}favorit/ABCFavorit-Regular.woff2') format('woff2'),
    url('#{$prefix}favorit/ABCFavorit-Regular.woff') format('woff');
}

@font-face {
  font-family: 'ABC Favorit';
  font-style: italic;
  font-weight: normal;
  src: local('ABCFavorit-RegularItalic'), local('ABCFavorit-RegularItalic'),
    url('#{$prefix}favorit/ABCFavorit-RegularItalic.woff2') format('woff2'),
    url('#{$prefix}favorit/ABCFavorit-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'ABC Favorit';
  font-style: normal;
  font-weight: 500;
  src: local('ABCFavorit-Medium'), local('ABCFavorit-Medium'),
    url('#{$prefix}favorit/ABCFavorit-Medium.woff2') format('woff2'),
    url('#{$prefix}favorit/ABCFavorit-Medium.woff') format('woff');
}

@font-face {
  font-family: 'ABC Favorit';
  font-style: italic;
  font-weight: 500;
  src: local('ABCFavorit-MediumItalic'), local('ABCFavorit-MediumItalic'),
    url('#{$prefix}favorit/ABCFavorit-MediumItalic.woff2') format('woff2'),
    url('#{$prefix}favorit/ABCFavorit-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'ABC Favorit';
  font-style: normal;
  font-weight: bold;
  src: local('ABCFavorit-Bold'), local('ABCFavorit-Bold'),
    url('#{$prefix}favorit/ABCFavorit-Bold.woff2') format('woff2'),
    url('#{$prefix}favorit/ABCFavorit-Bold.woff') format('woff');
}

@font-face {
  font-family: 'ABC Favorit';
  font-style: italic;
  font-weight: bold;
  src: local('ABCFavorit-BoldItalic'), local('ABCFavorit-BoldItalic'),
    url('#{$prefix}favorit/ABCFavorit-BoldItalic.woff2') format('woff2'),
    url('#{$prefix}favorit/ABCFavorit-BoldItalic.woff') format('woff');
}

.font-favorit { font-feature-settings: "ss01", "ss04" !important;}

/**

  * Sōhne Font
  */
@font-face {
  font-family: 'Söhne';
  font-style: normal;
  font-weight: 200;
  src: local('Sohne-extraleicht-superlight'), local('Sohne'),
    url('#{$prefix}sohne/Sohne-extraleicht-superlight.woff2') format('woff2');
}

@font-face {
  font-family: 'Söhne';
  font-style: normal;
  font-weight: 300;
  src: local('Sohne-leicht-light'), local('Sohne'),
    url('#{$prefix}sohne/Sohne-leicht-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Söhne';
  font-style: normal;
  font-weight: 400;
  src: local('Sohne-buch-regular'), local('Sohne'),
    url('#{$prefix}sohne/Sohne-buch-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Söhne';
  font-style: normal;
  font-weight: 500;
  src: local('Sohne-kraftig-medium'), local('Sohne'),
    url('#{$prefix}sohne/Sohne-kraftig-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Söhne';
  font-style: normal;
  font-weight: 600;
  src: local('Sohne-halbfett-semibold'), local('Sohne'),
    url('#{$prefix}sohne/Sohne-halbfett-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Söhne';
  font-style: normal;
  font-weight: 700;
  src: local('Sohne-dreiviertelfett-bold'), local('Sohne'),
    url('#{$prefix}sohne/Sohne-dreiviertelfett-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Söhne';
  font-style: normal;
  font-weight: 800;
  src: local('Sohne-fett-black'), local('Sohne'),
    url('#{$prefix}sohne/Sohne-fett-black.woff2') format('woff2');
}

@font-face {
  font-family: 'Söhne';
  font-style: normal;
  font-weight: 900;
  src: local('Sohne-extrafett-extrablack'), local('Sohne'),
    url('#{$prefix}sohne/Sohne-extrafett-extrablack.woff2') format('woff2');
}

/**
 * 
 * Inter V
 * @format
 */

@font-face {
  font-family: Inter V;
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/inter/Inter-roman.var.woff2?v=3.15') format('woff2');
}

@font-face {
  font-family: Inter V;
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/inter/Inter-italic.var.woff2?v=3.15') format('woff2');
}

/**
 * 
 * Helmet Neue
 * @format
 */
@font-face {
  font-family: 'Helmet Neue';
  src: url('/fonts/other/helm/HelmetNeue-Regular.eot');
  src: local('Helmet Neue Regular'), local('HelmetNeue-Regular'),
    url('/fonts/other/helm/HelmetNeue-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/other/helm/HelmetNeue-Regular.woff2') format('woff2'),
    url('/fonts/other/helm/HelmetNeue-Regular.woff') format('woff'),
    url('/fonts/other/helm/HelmetNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
