/**
 * One Dark theme for prism.js
 * Based on Atom's One Dark theme: https://github.com/atom/atom/tree/master/packages/one-dark-syntax
 */

/*
html.dark div[data-theme='light'],
html.dark pre[data-theme='light'],
html.dark code[data-theme='light'] {
  display: none;
}

html.light div[data-theme='dark'],
html.light pre[data-theme='dark'],
html.light code[data-theme='dark'] {
  display: none;
}
*/

// used in use-prevents-scroll hook

html.no-scroll {
  overflow: hidden;

  body {
    overflow: hidden;
    touch-action: none;
  }
}

.wrap-layer1 {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 0;
}

.wrap-layer2 {
  height: auto;
}

mux-player {
  aspect-ratio: 16 / 9;

  /**
    * active..
    *
    * --bottom-play-button: none;
    * --play-button: none;
    * --airplay-button: none;
    * --pip-button: none;
    */

  /**
    * inactive..
    */
  --media-title-display: none;
  --media-text-display: none;
  --loading-indicator: none;
  --center-controls: none;
  --dialog: none;
  --media-object-fit: cover;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --captions-button: none;
  --fullscreen-button: none;
  --cast-button: none;
  --playback-rate-button: none;
  --mute-button: none;
  --time-range: none;
  --duration-display: none;
}

.media-text-display {
  display: none !important;
}

:is(media-time-display, media-text-display, media-playback-rate-button[role='button']) {
  color: inherit;
  font-weight: 600 !important;
  line-height: 24px;
}

code::before,
code::after {
  content: '' !important;
  word-wrap: none !important;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--fg);
}

#nprogress::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: transparent;
}

.scroll-topbar {
  z-index: 999999999 !important;
  max-height: 0.2rem; // 3px
  height: 100%;
  background-color: var(--color-bar);
  background: var(--color-bar);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform-origin: 0%;
}

.nav:dark {
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: var(--header-bg);
  backdrop-filter: saturate(180%) blur(20px);
}

.header {
  display: flex;
  align-items: center;
}
