@import './_scss/fontface';
@import './_scss/colours.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-archivo: 'Archivo', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-sohne: 'Sohne', sans-serif;
    --font-unica: 'Unica', sans-serif;
    --font-plex-sans: 'IBM Plex Sans', sans-serif;
    --font-plex-mono: 'IBM Plex Mono', monospace;
    --font-s: 0.875rem; // 14px
    --bg-dark: rgba(23, 23, 23, 1);
    --bg-light: rgba(255, 255, 255, 1);
    --color-bar: rgba(103, 119, 201, 1);
    --dark-color-bar: rgba(235, 254, 188, 1);
    --surface-neutral: rgba(31, 31, 31, 1);
    --surface-action: rgba(103, 119, 201, 1);
    --globalnav-bg: rgba(251, 251, 253, 0.8);
    --globalnav-filter: blur(20px);
    --globalnav-saturate: saturate(180%);

    --header-height: 48px;
    --footer-height: 50px;
    --page-top: 128px;
    --header-bg: rgba(19, 20, 21, 0.45);
    --scrollbar-color: #e2e2e2;
    --scrollbar-color-hover: #c4c4c4;
    --scrollbar-dark: #333;
    --scrollbar-size: 16px;
    --scrollbar-size-min: 44px;
  }
}

@media print {
  :root {
    --bg: #fff;
    --fg: #000;
    --gray: #888;
    --light-gray: #dedede;
    --lighter-gray: #f5f5f5;
    --lightest-gray: #fafafa;
    --article-color: #212121;
    --header-bg: rgba(255, 255, 255, 0.8);
    --gray-alpha: rgba(19, 20, 21, 0.5);
    --selection: rgba(0, 0, 0, 0.99);

    --token: #666;
    --comment: #999;
    --keyword: #000;
    --name: #333;
    --highlight: #eaeaea;
  }

  * {
    text-shadow: none !important;
  }
}

@layer components {
  .prose {
    @apply max-w-prose;
  }

  .prose > * + * {
    @apply mt-4;
  }

  .prose > * + h2,
  .prose > * + h3,
  .prose > * + h4 {
    @apply mt-6 font-inter;
  }

  .prose h2 {
    @apply font-variable-semibold;
  }

  .prose pre[data-language] {
    @apply overflow-x-auto whitespace-pre rounded-lg border-whiteA8 bg-surface-neutral py-4 text-sm;
  }

  .prose code {
    @apply whitespace-pre;
  }

  .prose ul {
    @apply list-disc space-y-1 pl-7;
  }

  .prose ol {
    @apply list-decimal space-y-1 pl-7;
  }

  .prose blockquote {
    @apply border-l-4 pl-4;
  }

  .prose blockquote > * + * {
    @apply mt-4;
  }

  .prose table thead th {
    @apply font-variable-semibold py-2;
  }

  .prose div[data-rehype-pretty-code-fragment] .syntax-line {
    @apply px-4;
  }

  .prose table {
    @apply w-full max-w-full;
  }

  .prose table tbody td {
    @apply border-t py-2;
  }
}

@layer utilities {
  .font-variable-semibold {
    font-variation-settings: 'wght' 575;
  }
}

/**
 * @_scss
 * top-level pure-css.
 */

@import './_scss/helpers';

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  height: -webkit-fill-available;
  overflow: auto;
  background: var(--bg-light) !important;
  background-color: var(--bg-light) !important;

  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.fonts-loaded body {
  opacity: 1 !important;
}

body {
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  height: 100vh;
  width: 100vw;
  font-family: var(--font-unica);
  display: flex;
  flex-direction: column;
  transition: opacity 0.6s ease-in-out !important;
}

html.dark body {
  color: var(--bg-light) !important;
  background: var(--bg-dark) !important;
  background-color: var(--bg-dark) !important;
}

.nav:dark {
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: var(--header-bg);
  backdrop-filter: saturate(180%) blur(20px);
}

.header {
  display: flex;
  align-items: center;
}

small {
  font-size: var(--font-s);
  line-height: 1.5;
  display: block;
}

::selection {
  background-color: white;
  color: black;
  -webkit-text-fill-color: black;
}

.invert-selection::selection,
.invert-selection *::selection {
  background-color: black;
  color: white;
  -webkit-text-fill-color: white;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar {
  z-index: 999999 !important;
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  min-height: var(--scrollbar-size-min);
  min-width: var(--scrollbar-size-min);
  background-color: var(--scrollbar-color);
  border-radius: var(--scrollbar-size);
  border: 5px solid transparent;
  background-clip: padding-box;
}

html.dark::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-dark);
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

::-webkit-resizer {
  display: none;
}
