@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --kit-bg: rgba(255, 255, 255, 1);
    --kit-color: rgba(23, 23, 23, 1);

    --font-mono: 'IBM Plex Mono', monospace;
    --font-inter: 'Inter', sans-serif;
    --font-favorit: 'ABC Favorit', sans-serif;
    --font-sohne: 'Söhne', sans-serif;
    --font-twk: 'TWK Lausanne', sans-serif;
    --font-s: 0.875rem; // 14px

    --v-fade: hsl(0 0% 99%);
    --v-fade-dark: hsl(0 0% 8.5%);

    --color-bar: rgba(103, 119, 201, 1);
    --dark-color-bar: rgba(235, 254, 188, 1);
    --surface-neutral: rgba(31, 31, 31, 1);
    --surface-action: rgba(103, 119, 201, 1);
    --globalnav-bg: rgba(251, 251, 253, 0.8);
    --globalnav-filter: blur(20px);
    --globalnav-saturate: saturate(180%);

    --header-height: 48px;
    --footer-height: 50px;
    --page-top: 128px;
    --header-bg: rgba(19, 20, 21, 0.45);
    --topbar: rgba(158, 135, 197, 1);
    --scrollbar-color: #e2e2e2;
    --scrollbar-color-hover: #c4c4c4;
    --scrollbar-dark: #333;
    --scrollbar-size: 16px;
    --scrollbar-size-min: 44px;

    --app-green: rgba(52, 199, 89, 1);
    --app-gray: rgba(116, 116, 132, 1);
    --app-blue: rgba(1, 141, 255, 1);
    --app-pink: rgba(249, 102, 172, 1);
    --app-red: rgba(239, 68, 68, 1);
    --app-yellow: rgba(255, 190, 76, 1);

    --blue: rgba(55, 132, 244, 1);
    --green: rgba(68, 198, 127, 1);
    --gold: rgba(202, 146, 48, 1);
    --orange: rgba(255, 83, 16, 1);
    --orange-dark: rgba(255, 43, 0, 1);

    --graphic-green: rgba(68, 198, 127, 0.4);
    --graphic-blue: rgba(125, 196, 255, 1);
    --graphic-yellow: rgba(255, 207, 123, 1);
    --graphic-gray: rgba(226, 214, 197, 1);
    --graphic-orange: rgba(255, 83, 16, 1);
    --graphic-outline: rgba(178, 167, 154, 1);

    --gray1: hsl(0 0% 99%);
    --gray2: hsl(0 0% 97.3%);
    --gray3: hsl(0 0% 95.1%);
    --gray4: hsl(0 0% 93%);
    --gray5: hsl(0 0% 90.9%);
    --gray6: hsl(0 0% 88.7%);
    --gray7: hsl(0 0% 85.8%);
    --gray8: hsl(0 0% 78%);
    --gray9: hsl(0 0% 56.1%);
    --gray10: hsl(0 0% 52.3%);
    --gray11: hsl(0 0% 43.5%);
    --gray12: hsl(0 0% 9%);
    --grayA2: hsl(0 0% 0% / 0.027);
  }
}

//  ─────────────────────────────────── @imports

@import './style/fonts';
@import './style/resets';
@import './style/helpers';

@layer components {
  .prose {
    @apply max-w-prose;

    > * + * {
      @apply mt-4;
    }

    > * + h2,
    > * + h3,
    > * + h4 {
      @apply mt-6 font-inter;
    }

    h2 {
      @apply font-variable-semibold;
    }

    pre[data-language] {
      @apply overflow-x-auto whitespace-pre rounded-xl border-whiteA8 bg-surface-neutral py-4 font-mono text-xs;
    }

    code {
      @apply whitespace-pre font-mono;
    }

    ul {
      @apply list-disc space-y-1 pl-7;
    }

    ol {
      @apply list-decimal space-y-1 pl-7;
    }

    blockquote {
      @apply border-l-4 pl-4;

      > * + * {
        @apply mt-4;
      }
    }

    table {
      @apply w-full max-w-full;

      thead th {
        @apply font-variable-semibold py-2;
      }

      tbody td {
        @apply border-t py-2;
      }
    }

    div[data-rehype-pretty-code-fragment] {
      .syntax-line {
        @apply px-4;
      }
    }
  }
}

@layer utilities {
  .font-variable-semibold {
    font-variation-settings: 'wght' 575;
  }
}

/**
 * @_scss
 * top-level pure-css.
 */

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html.dark,
html[data-theme='dark'] {
  --kit-bg: rgba(23, 23, 23, 1);
  --kit-color: rgba(255, 255, 255, 1);
}

html,
body {
  padding: 0;
  margin: 0;
  height: -webkit-fill-available;
  overflow: auto;
  background: var(--kit-bg) !important;
  background-color: var(--kit-bg) !important;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.fonts-loaded body {
  opacity: 1 !important;
}

body {
  min-height: -webkit-fill-available;
  height: 100vh;
  width: 100vw;
  font-family: var(--font-unica);
  display: flex;
  flex-direction: column;
  transition: opacity 0.6s ease-in-out !important;
}

html.dark body {
  color: var(--kit-color);
  background: var(--kit-bg) !important;
  background-color: var(--kit-bg) !important;
}

html.dark div.verticalFade {
  &[data-side='top'] {
    top: 0;
    background: linear-gradient(
      to top,
      transparent,
      var(--v-fade-dark)
    ) !important;
    mask-image: linear-gradient(
      to bottom,
      var(--v-fade-dark) 25%,
      transparent
    ) !important;
  }
}

html.light div.verticalFade {
  &[data-side='top'] {
    top: 0;
    background: linear-gradient(to top, transparent, var(--v-fade)) !important;
    mask-image: linear-gradient(
      to bottom,
      var(--v-fade) 25%,
      transparent
    ) !important;
  }
}

.nav.dark {
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: var(--header-bg);
  backdrop-filter: saturate(180%) blur(20px);
}

.header {
  display: flex;
  align-items: center;
}

small {
  font-size: var(--font-s);
  line-height: 1.5;
  display: block;
}

::selection {
  background-color: var(--kit-color) !important;
  color: var(--kit-bg) !important;
  -webkit-text-fill-color: var(--kit-bg) !important;
}

.invert-selection::selection,
.invert-selection *::selection {
  background-color: var(--kit-bg) !important;
  color: var(--kit-color) !important;
  -webkit-text-fill-color: var(--kit-color) !important;
}
