@font-face {
  font-family: 'At Hauss Mono Bold';
  src: url('/fonts/at-hauss-mono/AtHaussMono-Bold.eot');
  src: local('At Hauss Mono Bold'), local('AtHaussMono-Bold'),
    url('/fonts/at-hauss-mono/AtHaussMono-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/at-hauss-mono/AtHaussMono-Bold.woff2') format('woff2'),
    url('/fonts/at-hauss-mono/AtHaussMono-Bold.woff') format('woff'),
    url('/fonts/at-hauss-mono/AtHaussMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'At Hauss Mono Medium';
  src: url('/fonts/at-hauss-mono/AtHaussMono-Medium.eot');
  src: local('At Hauss Mono Medium'), local('AtHaussMono-Medium'),
    url('/fonts/at-hauss-mono/AtHaussMono-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/at-hauss-mono/AtHaussMono-Medium.woff2') format('woff2'),
    url('/fonts/at-hauss-mono/AtHaussMono-Medium.woff') format('woff'),
    url('/fonts/at-hauss-mono/AtHaussMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'At Hauss Mono Retina';
  src: url('/fonts/at-hauss-mono/AtHaussMono-Retina.eot');
  src: local('At Hauss Mono Retina'), local('AtHaussMono-Retina'),
    url('/fonts/at-hauss-mono/AtHaussMono-Retina.eot?#iefix') format('embedded-opentype'),
    url('/fonts/at-hauss-mono/AtHaussMono-Retina.woff2') format('woff2'),
    url('/fonts/at-hauss-mono/AtHaussMono-Retina.woff') format('woff'),
    url('/fonts/at-hauss-mono/AtHaussMono-Retina.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'At Hauss Mono Semibold';
  src: url('/fonts/at-hauss-mono/AtHaussMono-Semibold.eot');
  src: local('At Hauss Mono Semibold'), local('AtHaussMono-Semibold'),
    url('/fonts/at-hauss-mono/AtHaussMono-Semibold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/at-hauss-mono/AtHaussMono-Semibold.woff2') format('woff2'),
    url('/fonts/at-hauss-mono/AtHaussMono-Semibold.woff') format('woff'),
    url('/fonts/at-hauss-mono/AtHaussMono-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
