@import './helpers';
@import './reset.css';
@import './pangram-sans.css';
@import './lateral.css';
@import './inter.css';
@import './neue-montreal.css';

/*
* ROOT
*
*/

:root {
    --font-system: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
    --font-body: 'Inter', var(--font-system), sans-serif;
    --inspect-color: #ff3333;
}

*,
*:active,
*:focus {
    box-sizing: border-box;
    outline: none;
}

.fullWidth {
    width: calc(var(--vw) * 100);
}

.fullHeight {
    height: calc(var(--vh) * 100);
}

html {
    line-height: 1.5;
    box-sizing: border-box;
    text-rendering: geometricprecision;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--font-system);
    transition: opacity #{$duration / 6 + 's'} ease-in;
}

body.inspect * {
    outline: 0.5px dashed var(--inspect-color) !important;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
    outline: none;
}

// WARNING: if you don't want to use a fade in for the body, you can remove
// this chunk of CSS. But ALSO make sure you remove the style tag in the body in _document.tsx
// and the transition property on the body as well. thx.
html.fonts-loaded body {
    opacity: 1 !important;
}

::selection {
    background-color: white;
    color: black;
    -webkit-text-fill-color: black;
}

.invert-selection::selection,
.invert-selection *::selection {
    background-color: black;
    color: white;
    -webkit-text-fill-color: white;
}

.ss01 {
    font-feature-settings: 'ss01' on;
}

.ss02 {
    font-feature-settings: 'ss02' on;
}

.ss03 {
    font-feature-settings: 'ss03' on;
}


/**
*
* Slider Component Styles
*
*/

.keen-slider:not([data-keen-slider-disabled]) {
    align-content: flex-start;
    display: flex;
    overflow: hidden;
    position: relative;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    .keen-slider__slide {
        position: relative;
        overflow: hidden;
        width: 100%;
        min-height: 100%;
    }
    &[data-keen-slider-reverse] {
        flex-direction: row-reverse;
    }
    &[data-keen-slider-v] {
        flex-wrap: wrap;
    }
}


/**
 * cmdk - resets and global styles
 * @pacocoursey/cmdk
 * https://cmdk.paco.me
 */

[cmdk-root] {
    z-index: 9999 !important;
    max-width: 600px !important;
    overflow: hidden;
}

@media (max-width: 650px) {
    [cmdk-root] {
        z-index: 9999 !important;
        max-width: 100% !important;
        width: 100%;
        overflow: hidden;
    }
}

[cmdk-overlay] {
    background-color: black;
    opacity: 0.5;
    z-index: auto;
}

[cmdk-item] {
    color: hsl(252, 4%, 57.3%);
    background-color: transparent;
    border-radius: 6px;
    padding-left: 8px;
    padding-right: 8px;
    user-select: none;
    will-change: background, color;
    transition: all 150ms ease;
    transition-property: none;
}

[cmdk-item][aria-selected='true'] {
    color: hsl(252, 4%, 44.8%);
    background-color: hsl(283, 4.4%, 91.3%);
    border-radius: 6px;
}


/*
[cmdk-group-items] {
}
*/

[cmdk-group-heading] {
    font-family: 'Inter', sans-serif !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    color: #ff3333;
    user-select: none;
    padding: 2px 6px 2px 6px;
}

*+[cmdk-group] {
    margin-top: 8px;
}

[cmdk-item] {
    content-visibility: auto;
}

[data-radix-popper-content-wrapper] {
    height: auto !important;
    width: 100% !important;
    padding: 12px !important;
    background-color: transparent;
    border-radius: 16px !important;
    /* backdrop-filter: blur(10px) !important; */
    /* -webkit-backdrop-filter: blur(10px) !important; */
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 !important;
    min-width: max-content !important;
    transform: translate3d(0) !important;
    z-index: auto;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#muxVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    --center-controls: none;
    --bottom-play-button: none;
    --controls-backdrop-color: rgb(0 0 0 / 20%);
}

#video_control_bar>* {
    display: inline-block;
}

mux-player {
    border-radius: 'inherit';
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: center;
    --seek-live-button: none;
    --seek-backward-button: none;
    --seek-forward-button: none;
    --captions-button: none;
    --fullscreen-button: none;
    --cast-button: none;
    --playback-rate-button: none;
    --volume-range: none;
    --center-controls: none;
    --bottom-play-button: none;
    --controls-backdrop-color: rgba(255, 255, 255, 0.4);
    --time-range: none;
    backdrop-filter: blur(10px);
}


/*
--duration-display: none;
--time-display: none;
    --airplay-button: none;

        --pip-button: none;
          --mute-button: none;
    */