// At Hauss Monospaced

@font-face {
  font-family: 'At Hauss Mono';
  src: url('/fonts/at-hauss-mono/AtHaussMono-Bold.eot');
  src: local('At Hauss Mono Bold'), local('AtHaussMono-Bold'),
    url('/fonts/at-hauss-mono/AtHaussMono-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/at-hauss-mono/AtHaussMono-Bold.woff2') format('woff2'),
    url('/fonts/at-hauss-mono/AtHaussMono-Bold.woff') format('woff'),
    url('/fonts/at-hauss-mono/AtHaussMono-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'At Hauss Mono';
  src: url('/fonts/at-hauss-mono/AtHaussMono-Medium.eot');
  src: local('At Hauss Mono Medium'), local('AtHaussMono-Medium'),
    url('/fonts/at-hauss-mono/AtHaussMono-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/at-hauss-mono/AtHaussMono-Medium.woff2') format('woff2'),
    url('/fonts/at-hauss-mono/AtHaussMono-Medium.woff') format('woff'),
    url('/fonts/at-hauss-mono/AtHaussMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'At Hauss Mono Retina';
  src: url('/fonts/at-hauss-mono/AtHaussMono-Retina.eot');
  src: local('At Hauss Mono Retina'), local('AtHaussMono-Retina'),
    url('/fonts/at-hauss-mono/AtHaussMono-Retina.eot?#iefix') format('embedded-opentype'),
    url('/fonts/at-hauss-mono/AtHaussMono-Retina.woff2') format('woff2'),
    url('/fonts/at-hauss-mono/AtHaussMono-Retina.woff') format('woff'),
    url('/fonts/at-hauss-mono/AtHaussMono-Retina.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'At Hauss Mono';
  src: url('/fonts/at-hauss-mono/AtHaussMono-Semibold.eot');
  src: local('At Hauss Mono Semibold'), local('AtHaussMono-Semibold'),
    url('/fonts/at-hauss-mono/AtHaussMono-Semibold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/at-hauss-mono/AtHaussMono-Semibold.woff2') format('woff2'),
    url('/fonts/at-hauss-mono/AtHaussMono-Semibold.woff') format('woff'),
    url('/fonts/at-hauss-mono/AtHaussMono-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// Atkinson Hyperlegible

@font-face {
  font-family: 'Atkinson Hyperlegible Regular';
  src: url('/fonts/atkinson/Atkinson-Hyperlegible-Regular-102a.woff2');
  src: local('Atkinson-Hyperlegible-Regular'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-Regular-102a.eot?#iefix') format('embedded-opentype'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-Regular-102a.woff') format('woff');
  font-weight: normal;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Italic';
  src: url('/fonts/atkinson/Atkinson-Hyperlegible-Italic-102a.woff2');
  src: local('Atkinson-Hyperlegible-Italic'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-Italic-102a.eot?#iefix') format('embedded-opentype'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-Italic-102a.woff') format('woff');
  font-weight: normal;
  font-display: block;
  font-style: italic;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Bold';
  src: url('/fonts/atkinson/Atkinson-Hyperlegible-Bold-102a.woff2');
  src: local('Atkinson-Hyperlegible-Bold'), url('/fonts/atkinson/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-Bold-102a.eot?#iefix') format('embedded-opentype'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-Bold-102a.woff') format('woff');
  font-weight: bold;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Bold';
  src: url('/fonts/atkinson/Atkinson-Hyperlegible-BoldItalic-102a.woff2');
  src: local('Atkinson-Hyperlegible-BoldItalic'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-BoldItalic-102a.eot?#iefix') format('embedded-opentype'),
    url('/fonts/atkinson/Atkinson-Hyperlegible-BoldItalic-102a.woff') format('woff');
  font-weight: bold;
  font-display: block;
  font-style: italic;
}

// Basement

@font-face {
  font-family: 'Basement Grotesque Black';
  src: url('/fonts/basement/BasementGrotesque-Black_v1.202.woff2');
  src: local('Basement-Grotesque-Black'), url('/fonts/basement/BasementGrotesque-Black_v1.202.woff2') format('woff2'),
    url('/fonts/basement/BasementGrotesque-Black_v1.202.woff') format('woff');
  font-weight: bold;
  font-display: block;
}

// Instrument Sans

@font-face {
  font-family: 'Instrument Sans';
  src: url('/fonts/instrument/InstrumentSans-Regular.woff2');
  src: local('Instrument Sans Regular'), local('InstrumentSans-Regular'),
    url('/fonts/instrument/InstrumentSans-Regular.woff2') format('woff2'),
    url('/fonts/instrument/InstrumentSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('/fonts/instrument/InstrumentSans-Medium.woff2');
  src: local('Instrument Sans Medium'), local('InstrumentSans-Medium'),
    url('/fonts/instrument/InstrumentSans-Medium.woff2') format('woff2'),
    url('/fonts/instrument/InstrumentSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('/fonts/instrument/InstrumentSans-SemiBold.woff2');
  src: local('Instrument Sans SemiBold'), local('InstrumentSans-SemiBold'),
    url('/fonts/instrument/InstrumentSans-SemiBold.woff2') format('woff2'),
    url('/fonts/instrument/InstrumentSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('/fonts/instrument/InstrumentSans-Bold.woff2');
  src: local('Instrument Sans Bold'), local('InstrumentSans-Bold'),
    url('/fonts/instrument/InstrumentSans-Bold.woff2') format('woff2'),
    url('/fonts/instrument/InstrumentSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
