.app-green {
  color: var(--app-green);
}
.app-gray {
  color: var(--app-gray);
}
.app-blue {
  color: var(--app-blue);
}
.app-pink {
  color: var(--app-pink);
}
.app-red {
  color: var(--app-red);
}
.app-yellow {
  color: var(--app-yellow);
}
.app-graphic-green {
  color: var(--graphic-green);
}
