html.no-scroll {
  overflow: hidden;
  body {
    overflow: hidden;
    touch-action: none;
  }
}

.wrap-layer1 {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 0;
  margin: 0;
}

.wrap-layer2 {
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

mux-player {
  aspect-ratio: 16 / 9;

  --media-title-display: none;
  --media-text-display: none;
  --loading-indicator: none;
  --center-controls: none;
  --dialog: none;
  --media-object-fit: cover;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --captions-button: none;
  --fullscreen-button: none;
  --cast-button: none;
  --playback-rate-button: none;
  --mute-button: none;
  --time-range: none;
  --duration-display: none;

  /**
    * active..
    *
    * --bottom-play-button: none;
    * --play-button: none;
    * --airplay-button: none;
    * --pip-button: none;
    */
}

.media-control-bar {
  display: none !important;
}

.media-text-display.title-display {
  display: none !important;
}

.title-display {
  display: none !important;
}

:is(
    media-time-display,
    media-text-display,
    media-playback-rate-button[role='button']
  ) {
  display: none !important;
  color: inherit;
  font-weight: 600 !important;
  line-height: 24px;
}

code::before,
code::after {
  content: '' !important;
  word-wrap: none !important;
}

#nprogress {
  pointer-events: none;
}

#nprogress.bar {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--fg);
}

#nprogress::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: transparent;
}

@media (max-width: 960px) {
  .horizontalFade {
    display: none;
  }
}

.verticalFade {
  position: fixed;
  pointer-events: none;
  user-select: none;
  width: 100%;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(1px);
  will-change: transform;

  &[data-side='top'] {
    top: 0;
    background: linear-gradient(to top, transparent, var(--v-fade));
    mask-image: linear-gradient(to bottom, var(--v-fade) 25%, transparent);
  }

  &[data-side='bottom'] {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, hsl(0 0% 99%));
    mask-image: linear-gradient(to top, var(--v-fade) 25%, transparent);
  }
}

.horizontalFade {
  ---fadeColor: rgba(255, 255, 255, 0.00001);
  width: 20vw;
  height: 100%;
  position: fixed;
  bottom: 0;
  z-index: 3;
  opacity: 1;
  min-width: 120px;
  backdrop-filter: blur(4px);
  pointer-events: none;
  user-select: none;

  &[data-side='left'] {
    background: linear-gradient(to left, var(---fadeColor), var(--gray1));
    mask-image: linear-gradient(to right, var(--gray1), var(---fadeColor));
    left: -24px;
  }

  &[data-side='right'] {
    background: linear-gradient(to right, var(---fadeColor), var(--gray1));
    mask-image: linear-gradient(to left, var(--gray1), var(---fadeColor));
    right: 0;
  }
}

.line {
  position: absolute;
  z-index: 2;

  &[data-variant='defined'] {
    opacity: 0.8;
  }

  &[data-variant='subtle'] {
    opacity: 0.6;
  }

  &[data-direction='horizontal'] {
    height: 1px;
    width: 500vw;
    background: var(--app-gray);
    transform: translateX(-50%);
    left: 50%;
  }

  &[data-direction='vertical'] {
    width: 1px;
    height: 500vw;
    background: linear-gradient(
      to bottom,
      var(--app-gray) 0%,
      transparent 100%
    );
  }
}
